*{
    padding: 0;
    margin: 0;
}


.flex{
    display: flex;
}

.vertical-center{
    align-items: center;
}

.horizontal-center{
    justify-content: center;
}

body{
    background-color: #EAEDED;
}
nav{
    display: flex;
    /* width: 100vw; */
    height: 10vh;
    background-color: #131921;
}

nav div{
    padding: 0 10px;
}

.left-nav-bar{
    height: 100%;
}

.address-container{
    color: white;
    font-size: 20px;
}

.center-nav-bar{
    width: 40vw;
}

.center-nav-bar form{
    width: 100%;
    height: 60%;
}


.center-nav-bar form input{
    width: 80%;
    height: 100%;
}

.center-nav-bar form div button{
    width: 15%;
    height: 100%;
    border-radius: 5px;
    border: 0;
    background: orange;
}
.search-bar{
    height: 100%;
}

.right-nav-bar ul{    
    list-style: none;
}

.right-nav-bar ul li a{    
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.right-nav-bar ul li{    
    padding: 0 10px;
    
}

.quick-catagorie-container{
    background-color: #232F3E;
    height: 7vh;
}

.quick-catagorie-container ul li{
    list-style: none;
}

.quick-catagorie-container ul{
    display: -webkit-box;
}

.quick-catagorie-container ul li a{
    text-decoration: none;
    color: white;
    padding: 0 8px;
    font-size: 18px;
    font-weight: 100;
}

.row{
    justify-content: space-around;
    margin: 10px;
    /* border: 1px solid black; */
}

.card{
    /* border: 1px solid red; */
    width: 22vw;
    height: auto;
    margin-top: 5px;
    background-color: white;
}

.card-title{
    font-size: 30px;
    /* font-size: 20px; */
    /* border: 1px solid black; */
}

.mini-card-holder{
    /* border: 1px solid blue; */
    flex-wrap: wrap;
}

.mini-card-holder img{
   max-width: -moz-available;
}

.mini-card{
    /* border: 1px solid green; */
    display: block;
    width: 10vw;
    margin: 5px auto;
}

.mini-card img{
    width: -moz-available;
}

.slider-row{
    overflow: scroll;
    margin: 10px 10px;
    scrollbar-width: none;
}
.slider-card-container{
    display: flex;
    /* border: 1px solid blue; */
}

.slider-card{
    background-color: white;
}

.slider-card-title{
    /* border: 1px solid green; */
    font-size: 25px;
}

.slider-card-content{
    /* border: 1px solid brown; */
    margin: 5px;
    width: max-content;
}

.m-10px{
    margin: 10px;
}
